<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Calculadora</h1>
          <form method="POST" action="">
            <input type="number" class="form-control w-50 mt-3" name="num1" placeholder="Digite um numero">
            <input type="number" class="form-control w-50 mt-3" name="num2" placeholder="Digite um numero">
            <br/>
            <label for="">Soma</label>
            <input type="radio" name="opc" value="soma" id="soma">
        
            <label for="">Subtrair</label>
            <input type="radio" name="opc" value="subt" id="subt">
        
            <label for="">Multiplicar</label>
            <input type="radio" name="opc" value="mult" id="mult">
        
            <label for="">Divir</label>
            <input type="radio" name="opc" value="divi" id="divi">
            <br/>
            <input type="submit" class="btn bg-primary" name="opc" id="">
        </form>
        </div>
      </div>
</body>
</html>

